@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;

  --color-card: #09090b;
  --color-card-foreground: #fafafa;

  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;

  --color-primary: #3b82f6;
  --color-primary-foreground: #f8fafc;

  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;

  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;

  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl shadow-2xl;
}
